L2Ethernity/game/data/xsd/damageLimit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence minOccurs="1" maxOccurs="1">
				<xs:element name="npc" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="id" type="xs:positiveInteger" use="required" />
						<xs:attribute name="damage" type="xs:integer" />
						<xs:attribute name="physicDamage" type="xs:integer" />
						<xs:attribute name="magicDamage" type="xs:integer" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>